autopep8==1.6.0
backports.zoneinfo==0.2.1
bidict==0.21.4
blinker==1.4
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.1
colorama==0.4.4
colorpy==0.1.1
Cython==0.29.24
dbus-python==1.2.18
decorator==5.0.9
Deprecated==1.2.13
dnspython==2.1.0
eventlet==0.33.0
evento==1.0.2
Flask==2.0.1
flask-sock==0.4.0
Flask-SocketIO==5.1.1
greenlet==1.1.2
h11==0.12.0
hue==0.1.0
idna==3.3
importlib-metadata==4.7.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mididings==2015+r68e31e6
numpy==1.21.4
omxplayer-wrapper==0.3.3
pathlib2==2.3.6
pexpect==4.8.0
phue==1.1
pkg-resources==0.0.0
ptyprocess==0.7.0
pycodestyle==2.8.0
pyinotify==0.9.6
pyliblo==0.10.0
python-engineio==4.3.0
python-socketio==5.5.0
python-vlc==3.0.12118
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
range-key-dict==1.1.0
requests==2.26.0
simple-websocket==0.4.0
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.0
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.7
Werkzeug==2.0.1
wrapt==1.13.3
wsproto==1.0.0
zipp==3.5.0
