<!doctype html>
<html data-bs-theme="dark">

<head>
    {% block head %}
    <title>{% block title %}FlaskDings API{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">        
    {% endblock head %}
</head>

<body>
    {% block body %}{% endblock %}
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.slim.min.js') }}"></script>
    {% block websockets %}{% endblock websockets %}
</body>

</html>