{% extends 'base.html' %} {% block body %}

<div class="container">

    <!-- Header -->
    <div class="row mb-1 mt-1">

        <div class="col-md-4 bg-secondary">

            <div class="row mt-1">
                <div class="col-md-3">
                    <input class="w-100 btn btn-warning" type="button" id="restart" value="Restart">
                </div>
                <div class="col-md-3">
                    <input class="w-100 btn btn-warning" type="button" id="panic" value="Panic">
                </div>
                <div class="col-md-3">
                    <input class="w-100 btn btn-primary" type="button" id="query" value="Query">
                </div>
                <div class="col-md-3">
                    <input class="w-100 btn btn-danger" type="button" id="quit" value="Quit">
                </div>
            </div>
        </div>

        <div class="col-md-8 bg-dark">
            <div class="row">
                <div class="col-md-10">
                    <h3>
                        <!-- Fil d'ariane -->
                        /<span id="current_scene_name"></span>/<span id="current_subscene_name"></span>
                    </h3>
                </div>
                <div class="col-md-2">
                    <span id="current_scene"></span>.<span id="current_subscene"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="row mb-1">
        <!-- Liste de scenes -->
        <div id="scenes" class="col-md-4 bg-secondary"> </div>
        <!-- Sous-scenes de la scene courante -->
        <div id="subscenes" class="col-md-8 bg-dark"> </div>
    </div>

    <!-- Footer -->
    <div class="row mt-2 ">

        <!-- Application status console -->
        <div class="col-md-4 bg-secondary">
            <!-- Console header -->

            <div class="row">
                <div class="bg-secondary col-md-4 text-center">
                    <div class="bg-dark">
                        Mididings
                    </div>
                </div>
                <div class="bg-secondary col-md-4 text-center">
                    <div class="bg-dark">
                        Flask Server
                    </div>
                </div>
                <div class="bg-secondary col-md-4 text-center">
                    <div class="bg-dark">
                        This client
                    </div>
                </div>
            </div>

            <!-- Services state -->
            <div id="console" class="row">
                <div id="mididings-state" class="bg-secondary col-md-4 text-center">
                </div>
                <div id="server-state" class="bg-secondary col-md-4 text-center">
                </div>
                <div id="client-state" class="bg-secondary col-md-4 text-center">
                </div>
            </div>
        </div>

        <!-- Scene and Sub-Scene navigation -->
        <div class="col-md-8 bg-dark">
            <div class="row mt-1">
                <div class="col-md-3">
                    <input class="w-100 btn btn-info" type="button" id="prev_scene" value="Previous Scene">
                </div>
                <div class="col-md-3">
                    <input class="w-100 btn btn-primary" type="button" id="prev_subscene"
                        value="Previous Sub-Scene">
                </div>
                <div class="col-md-3">
                    <input class="w-100 btn btn-primary" type="button" id="next_subscene" value="Next Sub-Scene">
                </div>
                <div class="col-md-3">
                    <input class="w-100 btn btn-info" type="button" id="next_scene" value="Next scene">
                </div>
            </div>

        </div>



    </div>

</div>

{% endblock body %}

{% block websockets %}

<script type="text/javascript" charset="utf-8">
    $(function () {

        var socket = io()
        var mainSocket = io("/main")

        socket.on('connect', function () {
            socket.emit("mididings", { command: 'get_mididings_context' });
            $('#client-state').html('<div class="bg-success">ONLINE</div>');
            $('#mididings-state').html('<div class="bg-success">ONLINE</div>');
            $('#server-state').html('<div class="bg-success">ONLINE</div>');
        });

        socket.on('on_exit', function () {
            $('#mididings-state').html('<div class="bg-danger">OFFLINE</div>');
        });

        socket.on('on_start', function () {
            $('#mididings-state').html('<div class="bg-success">ONLINE</div>');
        });

        socket.on('on_terminate', function () {
            socket.disconnect();
            mainSocket.disconnect();
            $('#client-state').html('<div class="bg-danger">OFFLINE</div>');
            $('#mididings-state').html('<div class="bg-danger">OFFLINE</div>');
        });

        socket.on('mididings_context_update', function (context) {
            //
            // Redraw the content section
            //                
            var count = 0;
            var content = "";
            var subscenes = [];

            // Reset content
            $("#scenes").text("");                  // Clear scene content 
            $('#subscenes').text("");               // Clear subscenes content
            $('#current_subscene_name').text(".");  // Default value
            $('#current_subscene').text("x");       // Default value

            // Scenes
            for (let index in context.items) {

                var scene = context.items[index];

                if (count % 2 === 0)
                    content += "<div class='row mt-1 mb-1'>";

                // Button style
                var button_class = "'w-100 btn btn-block switch_scene ";
                if (scene.current) {
                    $('#current_scene').text(scene.id);
                    $('#current_scene_name').text(scene.name);
                    button_class += "btn-light'";
                    subscenes = scene.subscenes;
                }
                else
                    button_class += "btn-dark'";

                content += "<div class='col-md-6'>";
                content += "<input class=" + button_class + " type='button' name='" + scene.id.toString() + "' value='" + scene.name + "'>";
                content += "</div>";

                count++;

                if (count % 2 === 0)
                    content += "</div>";
            }
            $("#scenes").append(content);

            // Subscenes 
            if (subscenes.length === 0)
                return;

            count = 0;
            content = "";
            for (let index in subscenes) {

                var scene = subscenes[index];

                if (count % 4 === 0)
                    content += "<div class='row mt-1 mb-1'>";

                // Button style
                var button_class = "'w-100 btn btn-block switch_subscene ";
                if (scene.current) {
                    button_class += "btn-light'";
                    $('#current_subscene').text(scene.id);
                    $('#current_subscene_name').text(scene.name);
                }
                else
                    button_class += "btn-secondary'";

                content += "<div class='col-md-3'>";
                content += "<input class=" + button_class + " type='button' name='" + scene.id.toString() + "' value='" + scene.name + "'>";
                content += "</div>";

                count++;

                if (count % 4 === 0)
                    content += "</div>";
            }
            $('#subscenes').append(content);
        });

        // Direct scene navigation delegate
        $("#scenes").on("click", ".switch_scene", function (event) {
            socket.emit('mididings', { command: 'switch_scene', id: $(this).attr('name') });
        });

        // Direct sub-scene navigation delegate
        $("#subscenes").on("click", ".switch_subscene", function (event) {
            socket.emit('mididings', { command: 'switch_subscene', id: $(this).attr('name') });
        });

        $('#next_scene').on("click", function (event) {
            socket.emit('mididings', { command: 'next_scene' });
        });

        $('#prev_scene').on("click", function (event) {
            socket.emit('mididings', { command: 'prev_scene' });
        });

        $('#next_subscene').on("click", function (event) {
            socket.emit('mididings', { command: 'next_subscene' });
        });

        $('#prev_subscene').on("click", function (event) {
            socket.emit('mididings', { command: 'prev_subscene' });
        });

        $('#restart').on("click", function (event) {
            socket.emit('mididings', { command: 'restart' });
        });

        $('#panic').on("click", function (event) {
            socket.emit('mididings', { command: 'panic' });
        });

        $('#query').on("click", function (event) {
            socket.emit('mididings', { command: 'query' });
        });

        $('#quit').on("click", function (event) {
            socket.emit('mididings', { command: 'quit' });
            mainSocket.emit('action', { command: 'quit' });
        });

    });
</script>
{% endblock websockets %}