{% extends 'base.html' %}

{% block body %}
<div class="container">

  <!-- Header -->
  <div class="row mb-1">
    <div class="col-md-4 bg-secondary">
      <h3>
        Scene : <span id="current_scene"></span>.<span id="current_subscene"></span>
      </h3>
    </div>
    <div class="col-md-8 bg-dark">
      <!-- Fil d'ariane -->
      <h3 class="bg-dark">
        <span id="current_scene_name"></span> / <span id="current_subscene_name"></span>
      </h3>
    </div>
  </div>

  <!-- Content -->
  <div class="row mb-1">
    <!-- Liste de scenes -->
    <div id="scenes" class="col-md-4 bg-secondary"> </div>
    <!-- Sous-scenes de la scene courante -->
    <div id="subscenes" class="col-md-8 bg-dark"> </div>
  </div>

  <!-- Footer -->
  <div class="row">

    <div class="col-md-4 bg-secondary">
      <br />
      <div class="row mt-1 mb-1">
        <div class="col-md-4">
          <div class="btn btn-block btn-primary"><a
              href="/api/mididings/restart{{ parameter | inject_endpoint }}">Restart</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="btn btn-block btn-danger"><a href="/api/mididings/panic">Panic</a></div>
        </div>
        <div class="col-md-4">
          <div class="btn btn-block btn-dark"><a href="/api/mididings/quit{{ parameter | inject_endpoint }}">Quit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 bg-dark">
      <form>
        <div class="form-group">
          <input class="btn btn-primary" type="button" id="next_scene" value="Next scene">
          <input class="btn btn-primary" type="button" id="next_subscene" value="Next subscene">
          <input class="btn btn-primary" type="button" id="prev_subscene" value="Prev subscene">
          <input class="btn btn-primary" type="button" id="prev_scene" value="Prev scene">
        </div>
      </form>
    </div>

  </div>
</div>

{% endblock body %}