{% extends 'base.html' %} {% block body %}

<div class="container">

    <!-- Header -->
    <div class="row mb-1">

        <div class="col-md-4 bg-secondary">

            <div class="row">
                <div class="col-md-3">
                    <input class="btn btn-warning" type="button" id="restart" value="Restart">
                </div>
                <div class="col-md-3">
                    <input class="btn btn-warning" type="button" id="panic" value="Panic">
                </div>
                <div class="col-md-3">
                    <input class="btn btn-primary" type="button" id="query" value="Query">
                </div>
                <div class="col-md-3">
                    <input class="btn btn-danger" type="button" id="quit" value="Quit">
                </div>
            </div>
        </div>

        <div class="col-md-8 bg-dark">
            <div class="row">
                <div class="col-md-10">
                    <h3>
                        <!-- Fil d'ariane -->
                        / <span id="current_scene_name"></span> / <span id="current_subscene_name"></span>
                    </h3>
                </div>
                <div class="col-md-2">
                    <span id="current_scene"></span>.<span id="current_subscene"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="row mb-1">
        <!-- Liste de scenes -->
        <div id="scenes" class="col-md-4 bg-secondary"> </div>
        <!-- Sous-scenes de la scene courante -->
        <div id="subscenes" class="col-md-8 bg-dark"> </div>
    </div>

    <!-- Footer -->
    <div class="row mt-2">

        <!-- Application status console -->
        <div class="col-md-4 bg-secondary">
            <!-- Console header -->

            <div class="row">
                <div class="bg-secondary col-md-6 text-center">
                    <div class="bg-dark">
                        MIDIDINGS Engine
                    </div>
                </div>
                <div class="bg-secondary col-md-6 text-center">
                    <div class="bg-dark">
                        Websockets
                    </div>
                </div>
            </div>

            <!-- Console status -->
            <div id="console" class="row">
                <div id="mididings" class="bg-secondary col-md-6 text-center">
                </div>
                <div id="websockets" class="bg-secondary col-md-6 text-center">
                </div>
            </div>
        </div>

        <!-- Scene and Sub-Scene navigation -->
        <div class="col-md-8 bg-dark">
            <div class="row">
                <div class="col-md-3">
                    <input class="btn btn-block btn-info" type="button" id="prev_scene" value="Previous Scene">
                </div>
                <div class="col-md-3">
                    <input class="btn btn-block btn-primary" type="button" id="prev_subscene"
                        value="Previous Sub-Scene">
                </div>
                <div class="col-md-3">
                    <input class="btn btn-block btn-primary" type="button" id="next_subscene" value="Next Sub-Scene">
                </div>
                <div class="col-md-3">
                    <input class="btn btn-block btn-info" type="button" id="next_scene" value="Next scene">
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock body %} 

{% block websockets %}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {

        var socket = io()

        socket.on('connect', function () {
            socket.emit('sio_get_mididings_context');
            $('#websockets').html('<div class="bg-success">ONLINE</div>');
            $('#mididings').html('<div class="bg-success">RUNNING</div>');
        });

        socket.on('on_exit', function () {
            $('#mididings').html('<div class="bg-danger">STOPPED</div>');
        });

        socket.on('on_start', function () {
            $('#mididings').html('<div class="bg-success">RUNNING</div>');
        });

        socket.on('on_terminate', function () {
            socket.disconnect();
            $('#websockets').html('<div class="bg-danger">DISCONNECTED</div>');
            $('#mididings').html('<div class="bg-danger">STOPPED</div>');
        });

        socket.on('mididings_context_update', function (context) {
            //
            // Redraw the content section
            //                
            var count = 0;
            var content = "";
            var subscenes = [];

            // Scenes
            for (let index in context.items) {

                var scene = context.items[index];

                if (count % 2 == 0)
                    content += "<div class='row mt-1 mb-1'>";

                // Button style
                var button_class = "'btn btn-block switch_scene ";
                if (scene.current) {
                    $('#current_scene').text(scene.id);
                    $('#current_scene_name').text(scene.name);
                    button_class += "btn-light'";
                    subscenes = scene.subscenes;
                }
                else
                    button_class += "btn-dark'";

                content += "<div class='col-md-6'>";
                content += "<input class=" + button_class + " type='button' name='" + scene.id.toString() + "' value='" + scene.name + "'>";
                content += "</div>";

                count++;

                if (count % 2 == 0)
                    content += "</div>";
            }
            $('#scenes').text("");
            $("#scenes").append(content);


            // Subscenes 
            count = 0;
            content = "";

            $('#current_subscene_name').text("...");
            for (let index in subscenes) {

                var scene = subscenes[index];

                if (count % 4 == 0)
                    content += "<div class='row mt-1 mb-1'>";

                // Button style
                var button_class = "'btn btn-block switch_subscene ";
                if (scene.current) {
                    button_class += "btn-light'";
                    $('#current_subscene').text(scene.id);
                    $('#current_subscene_name').text(scene.name);
                }
                else
                    button_class += "btn-secondary'";

                content += "<div class='col-md-3'>";
                content += "<input class=" + button_class + " type='button' name='" + scene.id.toString() + "' value='" + scene.name + "'>";
                content += "</div>";

                count++;

                if (count % 4 == 0)
                    content += "</div>";
            }
            $('#subscenes').text("");
            $('#subscenes').append(content);

        });

        // Scene navigation delegate
        $("#scenes").delegate("input.switch_scene", "click", function (event) {
            return emit('sio_switch_scene', {
                id: $(this).attr('name')
            });
        });

        // Sub-Scene navigation delegate
        $("#subscenes").delegate("input.switch_subscene", "click", function (event) {
            return emit('sio_switch_subscene', {
                id: $(this).attr('name')
            });
        });

        $('#next_scene').click(function (event) {
            return emit('sio_next_scene');
        });

        $('#prev_scene').click(function (event) {
            return emit('sio_prev_scene');
        });

        $('#next_subscene').click(function (event) {
            return emit('sio_next_subscene');
        });

        $('#prev_subscene').click(function (event) {
            return emit('sio_prev_subscene');
        });

        $('#restart').click(function (event) {
            return emit('sio_restart');
        });

        $('#panic').click(function (event) {
            return emit('sio_panic');
        });

        $('#query').click(function (event) {
            return emit('sio_query');
        });

        $('#quit').click(function (event) {
            return emit('sio_quit');
        });

        function emit(route, data = null) {
            if (data == null)
                socket.emit(route);
            else
                socket.emit(route, data);
            return false;
        }

    });
</script>
{% endblock websockets %}